html, body{
    margin: 0;
    padding: 0;
}

canvas {

    filter: blur(3px) contrast(250%) hue-rotate(20DEG);
    position: relative;
    z-index: 1;
}

#header{
    background: url('bg.jpg');
    /*background-color: black;*/
    height: 300px;
    overflow: hidden;
    margin-top: 50px;
}
